.rd-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 8; 
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.9);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

:root {
  --size: 200px;
  --radius: calc(var(--size) * 20 / 100);
}

.image-card {
  height: var(--size);
  border-radius: var(--radius);
  position: relative;
  background-size: cover;
  /* margin: calc(var(--size) * 20 / 100); */
  background-position: center center;
}

.image-card:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  z-index: -1;
  filter: blur(20px);
  opacity: 0.6;
  left: 50%;
  background-position: center center;
  transform: translate(-50%, 10%);
}

@media (max-width:425px) {
  :root {
    --size: 120px;
    --radius: calc(var(--size) * 20 / 100);
  }
  .aspect-\[2\/1\] {
    aspect-ratio: 2/4;
}
}


/* Custom button css */
 
 
/* CSS */
.button-84 {
  background: #fff;
  border: 2px solid #888;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 5px 14px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-in-out;
}
.button-84__content {
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: inset 0 -6px #d5d7de, 0 -2px #ffffff;
  transition: all 0.1s ease-in-out;
}
.button-84__text {
  color: #888;
  display: block;
  transform: translate3d(0, -4px, 0);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-84:active {
  box-shadow: none;
}
.button-84:active .button-84__content {
  box-shadow: none;
}
.button-84:active .button-84__text {
  transform: translate3d(0, 0, 0);
}


@keyframes shift-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes shift-left-circle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes shift-left-mask {
  0% {
    height: 7px;
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(-40px) rotate(180deg);
  }
}
 

.btn-cart {
  display: block;
  width: 200px;
  line-height: 44px;
  border: none;
  margin: 0 auto;
  background: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 400; 
  position: relative;
  cursor: pointer; 
  font-family: "inter";
}
.btn-cart:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border: 2px solid #365314;
  transform: translateX(0);
  left: 94px;
  border-radius: 50%;
  top: 5px;
  box-sizing: border-box;
}
.btn-cart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #365314;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-cart:focus {
  outline: none;
  /** Strap **/
  /** Bag Square **/
}
.btn-cart:focus:before {
  animation: shift-left-circle 800ms forwards;
  animation-delay: 1200ms;
}
.btn-cart:focus:after {
  width: 20px;
  height: 20px;
  top: 12px;
  left: 90px;
  animation: shift-left 400ms forwards;
  animation-delay: 1200ms;
  transition-delay: 400ms;
}
.btn-cart:focus > span {
  /** White Mask Over Strap **/
  /** "ADDED" text **/
  /** "ADD TO CART" text **/
}
.btn-cart:focus > span:before {
  animation: shift-left-mask 800ms forwards;
  animation-delay: 800ms;
  height: 7px;
}
.btn-cart:focus > span:after {
  transform: translate(-30%, 0);
  transition-delay: 1600ms;
  opacity: 1;
}
.btn-cart:focus > span span {
  opacity: 0;
  transform: translateY(20px);
}
.btn-cart > span {
  position: relative;
  display: block;
  /** White Mask Over Circle **/
  /** "ADDED" text **/
}
.btn-cart > span:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 20px;
  background: white;
  top: 5px;
  left: 94px;
  animation-timing-function: linear;
  transform: translateX(0) rotate(0deg);
  transform-origin: center bottom;
}
.btn-cart > span:after {
  content: "ADDED";
  color: #365314;
  position: absolute;
  font-weight: 500;
  z-index: 3;
  left: 50%;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(-30%, 20px);
  transition-delay: 0;
}
.btn-cart span span {
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(0px);
}