.rd-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 8; 
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.9);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

:root {
  --size: 200px;
  --radius: calc(var(--size) * 20 / 100);
}

.image-card {
  height: var(--size);
  border-radius: var(--radius);
  position: relative;
  background-size: cover;
  /* margin: calc(var(--size) * 20 / 100); */
  background-position: center center;
}

.image-card:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  z-index: -1;
  filter: blur(20px);
  opacity: 0.6;
  left: 50%;
  background-position: center center;
  transform: translate(-50%, 10%);
}

@media (max-width:425px) {
  :root {
    --size: 120px;
    --radius: calc(var(--size) * 20 / 100);
  }
  .aspect-\[2\/1\] {
    aspect-ratio: 2/4;
}
}


/* Custom button css */
 
 .button-84 {
  padding: 12px 26px;
  color: #fff;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: #111111;
  background-image: radial-gradient(76% 151% at 52% -52%, rgba(255, 255, 255, 0.23) 0%, transparent 100%);
}

.button-84:hover {
  filter: brightness(1.1);
}

.button-84:active {
  transform: scale(.95);
}
